<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Update Notes</title>
</head>
<body>
<form action="#" th:action="@{/update/{id}(id=${note.getId()})}" th:object="${note}" method="post">


    <label for="tytul">Tytuł</label>
    <input type="text" th:field="*{title}" id="tytul" placeholder="tytul">
    <br>
    <label for="tekst">Tekst</label>
    <br>
    <input type="text" th:field="*{text}" id="tekst" placeholder="tekst">
    <br>
    <input type="submit" value="Aktualizuj Notatkę">
</form>
</body>
</html>